<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39c1dee0-c41d-4298-b3b0-66095166630f" Alias="carouselBlock" Level="3">
  <Info>
    <Name>Carousel Block</Name>
    <Icon>icon-pictures-alt-2 color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>02.+Data+Elements/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>affe788d-46a8-4429-ad21-7cc5e60dc371</Key>
      <Name>Carousel Items</Name>
      <Alias>carouselItems</Alias>
      <Definition>9fcab94b-83d9-463b-a9da-e35b5240ea69</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>