<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="31afb2b2-0d0b-4f45-941b-9bf8fc0bcd0c" Alias="carouselItemBlock" Level="4">
  <Info>
    <Name>Carousel Item Block</Name>
    <Icon>icon-picture color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>02.+Data+Elements/Blocks/Items</Folder>
    <Compositions>
      <Composition Key="649a47ca-c0a8-4c27-9f5e-992c5955ef61">imageBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>