<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66fd13bd-4ff0-48e2-8897-cd111067e18e" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>03.+Content+Pages</Folder>
    <Compositions>
      <Composition Key="7e08c371-8f09-48c1-9c2a-53940219b36f">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="aac84e81-00c4-42ca-9f00-b3fe4c58e3c0" SortOrder="0">newsListingPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>