<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aac84e81-00c4-42ca-9f00-b3fe4c58e3c0" Alias="newsListingPage" Level="2">
  <Info>
    <Name>News Listing Page</Name>
    <Icon>icon-categories color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>03.+Content+Pages</Folder>
    <Compositions>
      <Composition Key="7e08c371-8f09-48c1-9c2a-53940219b36f">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="837bd193-7659-4b03-99f6-967e5c7015dd" SortOrder="0">newsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>