<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd6e75be-6050-4caa-87da-4036ccb71cb1" Alias="Image 1" Level="2">
  <Info>
    <Parent Key="e59c121e-04db-4382-bf53-e5f14b07a5a7">News</Parent>
    <Path>/News/Image1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-02-27T17:37:59</CreateDate>
    <NodeName Default="Image 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xb0h3pkq/image-1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>