<?xml version="1.0" encoding="utf-8"?>
<Media Key="e59c121e-04db-4382-bf53-e5f14b07a5a7" Alias="News" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/News</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-02-27T17:38:19</CreateDate>
    <NodeName Default="News" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>