<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="Umbraco.Core.UseHttps" value="true"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)" />

		<add key="Umbraco.ModelsBuilder.ModelsMode" value="Nothing"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)" />

		<add key="AzureBlobFileSystem.ContainerName:media" value="media-staging"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)" />

	</appSettings>

	<connectionStrings>
		<add name="umbracoDbDSN"
		     connectionString="server=digital-reason-news-test-sqls.database.windows.net;database=digital-reason-news-test-sql-db-umbraco-staging;user id=digital-reason-news-test-sql-db-user-staging;password='kuld2carm_VATH0off'"
		     xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
	</system.web>

</configuration>