<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="Umbraco.Core.UseHttps" value="true"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)" />

		<add key="Umbraco.ModelsBuilder.ModelsMode" value="Nothing"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)" />

		<add key="AzureBlobFileSystem.ContainerName:media" value="media-prod"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)" />

		<add key="AzureBlobFileSystem.RootUrl:media" value="https://digitalreasonnewsprodsto.blob.core.windows.net/"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)" />

		<add key="AzureBlobFileSystem.ConnectionString:media" value="DefaultEndpointsProtocol=https;AccountName=digitalreasonnewsprodsto;AccountKey=qC47l4J2YtGD1OIBK0xrnrPOJPCrXFoDTTEHi1QmG6AlNGc9gGWV7k0Ul5/0AjZiO3pV2ysy9NrJ5UXK1TlHag=="
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)" />

	</appSettings>

	<connectionStrings>
		<add name="umbracoDbDSN"
		     connectionString="server=digital-reason-news-prod-sqls.database.windows.net;database=digital-reason-news-prod-sql-db-umbraco-prod;user id=digital-reason-news-prod-sql-db-user-prod;password='vzeVru_kFrs2jHt'"
		     xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
	</system.web>

</configuration>