<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="Umbraco.Core.UseHttps" value="true"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)" />

		<add key="Umbraco.ModelsBuilder.ModelsMode" value="Nothing"
		     xdt:Transform="SetAttributes(value)"
		     xdt:Locator="Match(key)" />

	</appSettings>
	
</configuration>