.login-overlay__background-image {
    opacity: 0.4;
}

.login-overlay h1 {
    color: #fff;
}

.umb-login-container .form {
    background-color: #214666;
    background-image: url("/images/login-custom-icon-2.png");
    background-position: center 70px;
    padding: 25px;
    padding-top: 180px;
    padding-bottom: 50px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
}

@media screen and (min-width: 768px) {
    .umb-login-container .form {
        padding: 70px;
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

.umb-login-container .form .btn-success, .umb-login-container .form button.btn {
    background-color: #fd91d7;
}

    .umb-login-container .form .btn-success:active, .umb-login-container .form .btn-success:focus, .umb-login-container .form .btn-success:hover {
        background-color: #f376c6;
    }