<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fcab94b-83d9-463b-a9da-e35b5240ea69" Alias="Carousel Block" Level="3">
  <Info>
    <Name>Carousel Block</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#214666",
      "iconColor": "#fd91d7",
      "thumbnail": null,
      "contentElementTypeKey": "31afb2b2-0d0b-4f45-941b-9bf8fc0bcd0c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>