<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4532466-6975-43d0-aee5-a3c44d17fcf6" Alias="News Page Blocks" Level="4">
  <Info>
    <Name>News Page Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Blocks/Page+Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#214666",
      "iconColor": "#fd91d7",
      "thumbnail": null,
      "contentElementTypeKey": "649a47ca-c0a8-4c27-9f5e-992c5955ef61",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#214666",
      "iconColor": "#fd91d7",
      "thumbnail": null,
      "contentElementTypeKey": "34d87464-faa8-4bd4-8f87-1030dcd37afe",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#214666",
      "iconColor": "#fd91d7",
      "thumbnail": null,
      "contentElementTypeKey": "39c1dee0-c41d-4298-b3b0-66095166630f",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Carousel Block",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": true,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>