<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d345b18-d948-4ff2-b46f-018a068a1b95" Alias="Coronavirus: Biden's $1.9tn Covid relief bill passes House vote" Level="3">
  <Info>
    <Parent Key="7fd91bd4-954f-42e2-8060-15bd4363fbae">News</Parent>
    <Path>/Home/News/CoronavirusBidenS19tnCovidReliefBillPassesHouseVote</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2021-02-27T17:22:40</CreateDate>
    <NodeName Default="Coronavirus: Biden's $1.9tn Covid relief bill passes House vote" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/836a57dd1e86457f909c379533d89ee3"
      },
      {
        "contentUdi": "umb://element/7cd1236562304610805f32ca06a0b405"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34d87464-faa8-4bd4-8f87-1030dcd37afe",
      "udi": "umb://element/7cd1236562304610805f32ca06a0b405",
      "label": "Trololo",
      "text": "<p>This is a test</p>"
    },
    {
      "contentTypeKey": "649a47ca-c0a8-4c27-9f5e-992c5955ef61",
      "udi": "umb://element/836a57dd1e86457f909c379533d89ee3",
      "label": "McDonald's Image",
      "image": "umb://media/bd6e75be60504caa87da4036ccb71cb1"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <publishedDate>
      <Value><![CDATA[2021-02-27T12:00:00]]></Value>
    </publishedDate>
  </Properties>
</Content>