<?xml version="1.0" encoding="utf-8"?>
<Content Key="45305a82-ba12-4ce8-a36b-dadc0f733fc5" Alias="LeBron vs Zlatan: Who won the politics bout?" Level="3">
  <Info>
    <Parent Key="7fd91bd4-954f-42e2-8060-15bd4363fbae">News</Parent>
    <Path>/Home/News/LeBronVsZlatanWhoWonThePoliticsBout</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2021-02-27T17:23:07</CreateDate>
    <NodeName Default="LeBron vs Zlatan: Who won the politics bout?" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
  </Properties>
</Content>