<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fd91bd4-954f-42e2-8060-15bd4363fbae" Alias="News" Level="2">
  <Info>
    <Parent Key="5042f602-f756-4006-b4ca-9ee8ba9872b2">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>newsListingPage</ContentType>
    <CreateDate>2021-02-27T17:20:41</CreateDate>
    <NodeName Default="News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageDescription>
      <Value><![CDATA[This is the news listing page description]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[News Listing Page Title]]></Value>
    </pageTitle>
  </Properties>
</Content>