<?xml version="1.0" encoding="utf-8"?>
<Content Key="34b3cb92-9f44-45d3-b55c-75dbcd875b5b" Alias="Pompeii: Archaeologists unveil ceremonial chariot discovery" Level="3">
  <Info>
    <Parent Key="7fd91bd4-954f-42e2-8060-15bd4363fbae">News</Parent>
    <Path>/Home/News/PompeiiArchaeologistsUnveilCeremonialChariotDiscovery</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2021-02-27T17:24:25</CreateDate>
    <NodeName Default="Pompeii: Archaeologists unveil ceremonial chariot discovery" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
  </Properties>
</Content>