<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<security xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<services>
		<service>
			<settings>
				<setting key="Container" value="media-prod"
				         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

				<setting key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=digitalreasonnewsprodsto;AccountKey=qC47l4J2YtGD1OIBK0xrnrPOJPCrXFoDTTEHi1QmG6AlNGc9gGWV7k0Ul5/0AjZiO3pV2ysy9NrJ5UXK1TlHag=="
				         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
				
			</settings>
		</service>
	</services>
</security>